:root {
    --gap: 20px;
    --content-gap: 20px;
    --nav-width: 1380px;
    --main-width: 700px;
    --article-width: 650px;
    --toc-width: 240px;
    --header-height: 70px;
    --footer-height: 70px;
    --radius: 10px;
    --theme: rgb(17, 24, 39);
    --entry: rgb(7, 14, 29);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(156, 163, 175);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(156, 163, 175);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(7, 14, 29);
    --border: rgb(51, 51, 51);
}


.dark {
    --theme: rgb(17, 24, 39);
    --entry: rgb(7, 14, 29);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(156, 163, 175);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(156, 163, 175);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(7, 14, 29);
    --border: rgb(65, 66, 68);
}

/* Untuk mengubah warna pada menu saat dihover pada tema "dark" */
.dark nav li:hover a {
    color: rgb(96, 165, 250);
    /* Ganti dengan warna yang Anda inginkan */
}

/* Bold */
.dark strong {
    color: rgb(218, 218, 219);
}

/* Underline */
.dark u {
    color: rgb(218, 218, 219);
}

/* Italic */
.dark em {
    color: rgb(218, 218, 219);
}

/* Bold & Italic */
.dark b em {
    color: rgb(218, 218, 219);
}

/* Katex */
.dark .katex {
    color: rgb(218, 218, 219);
}