.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--theme);
    color: white;
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:hover {
    background: var(--theme);
    color: rgb(96, 165, 250);
}

.terms-tags a:active {
    background: var(--theme);
    color: rgb(96, 165, 250);
    transform: scale(0.96);
}